<div class="container">
  <div class="row">
    <div class="col-xs-1"></div>
    <div class="col-xs-10">
      <h1>About Us</h1>
      <p id="mission-stmt"><strong>Mission Statement:</strong> Our mission is to provide an independent Quality Consulting service that will ensure you receive an objective evaluation based upon an industry-wide perspective.</p>
      <p>Achieve Quality was started with a group of highly experienced Consultant Auditors, all with over 20 years of expertise in clinical research, and a minimum of ten years in Quality Assurance, with a widely diverse background.  Our Consultants have worked for:</p>
      <ul>
        <li>The Food and Drug Administration (FDA)</li>
        <li>Large Pharmaceutical companies</li>
        <li>Small Biotech firms</li>
        <li>Medical Device companies</li>
        <li>Contract Research Organizations</li>
        <li>Medical Universities</li>
        <li>Private Research Centers</li>
        <li>Pre-Clinical and Clinical Laboratories (Safety and Microbiological)</li>
        <li>Bioanalytical Laboratories</li>
      </ul>
      <p><strong>Terri P. Kelly, RN, MSQA, CQA</strong> is the President and Principal Consultant of Achieve Quality.  She has over 25 years of experience in clinical research, with over 20 years as a Consultant to the industry.  She started in clinical research as a Study Coordinator at a Medical University, then as a Research Director, building the department into an active research site with ten Coordinators.  She then became a Consultant Clinical Research Associate (CRA), with a focus on Oncology and HIV.  From there, she went into Project Management and then into compliance auditing and training.  She has conducted international and domestic audits of Sponsors, CROs, Investigator sites, IRBs, laboratories, vendors, SOPs, FDA Part 11, HIPAA and IND/PMA submissions to assess compliance with FDA regulations, ICH Guidelines and international/local requirements.  She has extensive experience preparing sponsors for FDA BIMO, EMA, MHRA and other country-specific regulatory inspections.</p>
      <p><%= link_to "View Terri's CV", asset_path("Terri_P_Kelly_CV_2015.pdf"), :class => "links" %></p>
      <p><strong>Linda M. Rhea, BS</strong> is the Vice President and Principal Consultant of Achieve Quality.  She has over 25 years of experience in clinical research, founding a still prosperous multi-specialty clinical research center in 1986.  She started as a Clinical Research Coordinator and has progressed in the research industry (Training Coordinator, Clinical Research Manager, Clinical Research Associate, GCP Auditor, Director of Regulatory Compliance and Quality Assurance) through her years of dedication to the field.  She created the inception of an on-site Quality Assurance program before the need was even realized in the industry.  She has conducted international and domestic audits of Sponsors, CROs, Investigator sites and vendors to assess compliance with FDA regulations, ICH Guidelines and international/local requirements.  She has extensive experience preparing sponsors, as well as Investigator sites, for FDA BIMO, EMA and other country-specific regulatory inspections.</p>
      <p><%= link_to "View Linda's CV", asset_path("Linda_Rhea_CV_2015.pdf"), :class => "links" %></p>
    </div>
    <div class="col-xs-1"></div>
  </div>
</div>