<div class="container">
  <div class="row">
    <div class="col-xs-1"></div>
    <div class="col-xs-10">
      <h1>Contact Information</h1>
      <p><strong>Global Headquarters</strong><br/>
        Achieve Quality, Inc.<br/>
        602 Riverside Drive<br/>
        Tarpon Springs, FL, USA 34689-2433
      </p>
      <p><strong>Phone</strong><br/>
        (727) 937-7073
      </p>
      <p><strong>Fax</strong><br/>
        (727) 937-5837
      </p>
      <p><strong>Email</strong><br/>
        <a href="mailto:placeholder@email.com">placeholder@email.com</a>
      </p>
      <p><strong>Website</strong><br/>
        <a href="http://www.achievequality.net/">www.AchieveQuality.net</a>
      </p>
    </div>
    <div class="col-xs-1"></div>
  </div>
</div>