<div class="container">
  <div class="row">
    <div class="col-xs-1"></div>
    <div class="col-xs-10">
      <h1>Data and Documents</h1>
      <p>Believe it or not, we have Consultant Auditors that actually <em>enjoy</em> the tedious job of auditing Clinical Study Reports and other documents.</p>
      <p>Documents we have reviewed include:</p>
      <ul>
        <li>Clinical Study Reports for format and accuracy, in comparison to the tables, listings and graphs</li>
        <li>Audits of the clinical and/or safety database in comparison to reports / submissions to FDA or other government authorities</li>
        <li>Annual reports to the Regulatory Agency</li>
        <li>Audits of Trial Master Files and Investigator Site Files, electronic, paper or hybrid</li>
        <li>Protocols and Amendments</li>
        <li>Investigator Brochures and Package Inserts</li>
        <li>Informed Consent Forms</li>
        <li>Study-specific Plans</li>
      </ul>
    </div>
    <div class="col-xs-1"></div>
  </div>
</div>