<div class="container">
  <div class="row">
    <div class="col-xs-1"></div>
    <div class="col-xs-10">
      <h1>Good Clinical Practice (GCP) Audits</h1>
      <p>The clinical portion of product development is not only the most time consuming, but also the most expensive.  The goal of every one of our domestic and global audits is to proactively identify any potential risk or non-compliance that could interfere with the development of your product, whether related to subject protection, or product safety and efficacy.</p>
      <h4>Clinical Investigator Sites</h4>
      <p>Audits of Investigator sites allow site-specific issues to be identified and corrected, but also emphasize potentially global and/or systematic issues that can impact on the quality of the trial as a whole.  Prompt Corrective and Preventative Action (CAPA) taken by the Investigator and the applicable clinical teams can significantly improve the overall quality of the trial.</p>
      <p>Once the Investigator site has been selected for an audit, we will contact the site and schedule the audit, followed by sending a confirmation letter and agenda to the site.  During an Investigator site audit, we will:</p>
      <ul>
        <li>Inspect site facilities and equipment utilized for the trial</li>
        <li>Assess Investigator and staff qualification and training in the protocol, GCPs, HIPAA and Part 11, as applicable</li>
        <li>Evaluate PI oversight and staff delegation</li>
        <li>Review all signed Informed Consent Forms</li>
        <li>Review all essential documents and IRB interactions</li>
        <li>Review storage and records related to Investigational Product accountability</li>
        <li>Review routine and Serious Adverse Event (SAE) reporting</li>
        <li>Verify that data collected in Case Report Forms are accurately supported by source documents</li>
        <li>Assess compliance with the protocol, applicable domestic and international regulations and guidelines, and the sponsor/CRO’s requirements</li>
      </ul>
      <h4>For Cause Audits</h4>
      <p>The majority of Clinical Investigator site audits are conducted on a routine basis, but we are also vastly experienced in investigating fraud and scientific misconduct, or ‘For Cause’ audits.  We collect and document objective evidence, while maintaining a discreet and  We have worked with the FDA Office of Criminal Investigations, as well as the Federal Bureau of Investigation (FBI) and the US Attorney General.</p>
      <h4>Phase I Units</h4>
      <p>In addition to all Clinical Investigator site audit activities, we will assess the following services that are unique to Early Phase development:</p>
      <ul>
        <li>Project Management</li>
        <li>Laboratory sample collection and management</li>
        <li>Investigational Product preparation and accountability</li>
        <li>Data entry and query management</li>
        <li>Any other transferred sponsor responsibilities</li>
      </ul>
      <h4>Contract Research Organizations (CROs)</h4>
      <p>Sponsors should understand the importance of vendor qualification, post-capability and maintenance review. Most sponsors will routinely conduct maintenance audits on a 2- to 3-year frequency.  During a CRO audit we will:</p>
      <ul>
        <li>Tour the facility, including Server Rooms and document storage areas</li>
        <li>Review SOPs to ensure procedures and systems used in the conduct of clinical trials are in compliance with applicable guidelines and regulations. Review study records to assess compliance with SOPs</li>
        <li>Assess CRO outsourced vendor qualification, management, and certification programs</li>
        <li>Assess CRO staff credentials, training, workload and turnover rate</li>
        <li>Review CRO Quality Management System, including Quality Manual and Policy</li>
        <li>Review computer system procedures and documentation for security, back up, and recovery, including validation records</li>
        <li>Assess any Regulatory Agency inspection history, including records and sanctions, if applicable</li>
        <li>Ensure that the trial is being performed according to protocol and applicable regulations, guidelines, and standards</li>
      </ul>
      <h4>Vendors</h4>
      <p>Sponsors frequently outsource clinical trial activities that are their responsibility, as they might not have adequate internal resources or expertise.  The sponsor is ultimately responsible for the quality of the clinical trial, so must ensure that its vendors are providing quality deliverables according to the required standards.  Sponsors should conduct independent audits of vendors at regular intervals to ensure that their systems continue to meet the necessary regulatory standards.  Activities conducted during a vendor audit will include all those listed in the CRO audit, as applicable.</p>
      <p>Vendors may include:</p>
      <ul>
        <li>Central ECG or radiograph readers</li>
        <li>IVRS/IWRS randomization providers</li>
        <li>Electronic Case Report Form (eCRF) Electronic Data Capture (EDC) database hosts</li>
        <li>Medical Monitors</li>
        <li>Data Safety Monitoring Boards</li>
      </ul>
      <h4>Pharmacovigilance</h4>
      <p>Activities conducted during a Pharmacovigilance audit will include all those listed in the CRO audit, as applicable.  We will also review individual cases to assess and track reportability and timelines.</p>
      <h4>Institutional/Independent Review Boards (IRBs) and Ethics Committees (ECs)</h4>
      <p>Commercial, academic, private and hospital IRBs and ECs should be audited in accordance with FDA/OHRP regulations and other local regulations and guidelines. Central IRBs that are contracted by the Sponsor increase the risk and responsibility of the sponsor.</p>
      <h4>Investigational Product Distribution Depots</h4>
      <p>Sponsors should audit all aspects of clinical trial supplies to demonstrate their control and oversight, in accordance with FDA/EMA/MHRA, GMP, GCP and ICH regulations/ guidelines. In addition to a routine vendor audit, the Depot audit will include tracking of shipments through receipt and return.</p>
      <h4>Mock Regulatory Agency Inspections</h4>
    </div>
    <div class="col-xs-1"></div>
  </div>
</div>