<div class="container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <h1>Welcome</h1>
      <p>ICH GCP Guidance requires that "a system of Quality Assurance and Quality Control be implemented and maintained." Auditing is an integral part of this quality management strategy.</p>
    </div>
    <div class="col-md-2"></div>
  </div>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-xs-7 col-md-6">
      <p>Achieve Quality is a certified women-owned business, specifically dedicated to providing Quality Assurance services to the clinical research industry.  By focusing only on Quality services, we can offer totally independent, objective assessments.  We will customize any audit to meet your particular needs.</p>
    </div>
    <div class="col-xs-1 col-md-2">
      <a id="osd" href="http://www.dms.myflorida.com/agency_administration/office_of_supplier_diversity_osd"><%= image_tag "osd.jpg", :class=> "img-circular" %></a>
    </div>
    <div class="col-md-2"></div>
  </div>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-4">
      <p>We are a diverse group of Consultants who are highly experienced in the areas of Good Clinical Practices (GCP), Good Laboratory Practices (GLP), electronic systems and Part 11 compliance, as well as strategic consulting.  We work with large and small pharmaceutical, medical device and biotech companies, as well as Medical Universities, vendors and individual Clinical Investigator sites.</p>
      <p>We have conducted audits in the European Union (Eastern and Western), the United Kingdom, Russia, China, Japan, Singapore, Hong Kong, the Philippines, India, Australia, South America, Central America, Mexico, Canada and the United States.</p>
    </div>
    <div class="col-md-4">
      <p>Achieve Quality Auditors have an in-depth knowledge of Regulatory and Industry Standards, including:</p>
      <ul>
        <li>US FDA Regulations, <a href="http://www.accessdata.fda.gov/scripts/cdrh/cfdocs/cfcfr/cfrsearch.cfm">21 CFR</a> Parts 11, 50, 54, 56, 312, 314 (Pharmaceuticals) 812, and 814 (Medical Devices)</li>
        <li>US HIPAA Regulations, <a href="http://www.hhs.gov/ohrp/humansubjects/guidance/45cfr46.html">45 CFR</a> Parts 160 and 164</li>
        <li><a href="http://www.fda.gov/ICECI/ComplianceManuals/ComplianceProgramManual/ucm255614.htm">FDA Compliance Programs</a> 7348.809, 7348.810, and 7348.811</li>
        <li>European Medicines Agency (EMA) Directives <a href="http://ec.europa.eu/health/files/eudralex/vol-1/dir_2001_83_consol_2012/dir_2001_83_cons_2012_en.pdf">2001/83/EC</a>, <a href="http://eur-lex.europa.eu/LexUriServ/LexUriServ.do?uri=OJ:L:2010:348:0074:0099:EN:PDF">2010/84/EU</a>, <a href="http://eur-lex.europa.eu/LexUriServ/LexUriServ.do?uri=OJ:L:2012:299:0001:0004:EN:PDF">2012/26/EU</a>, and Regulations <a href="http://ec.europa.eu/health/files/eudralex/vol-1/reg_2004_726/reg_2004_726_en.pdf">(EC) No 726/2004</a>, <a href="http://eur-lex.europa.eu/LexUriServ/LexUriServ.do?uri=OJ:L:2010:348:0001:0016:EN:PDF">(EU) No 1235/2010</a>, and <a href="http://eur-lex.europa.eu/LexUriServ/LexUriServ.do?uri=OJ:L:2012:316:0038:0040:EN:PDF">(EU) No 1027/2012</a></li>
        <li>Medicines and Healthcare products Regulatory Agency (<a href="https://www.gov.uk/clinical-trials-for-medicines-manage-your-authorisation-report-safety-issues">MHRA</a>) requirements</li>
        <li>International Conference of Harmonization (ICH) <a href="http://www.fda.gov/downloads/Drugs/Guidances/ucm073122.pdf">E6 Guidelines</a></li>
      </ul>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>