<div class="container">
  <div class="row">
    <div class="col-xs-1"></div>
    <div class="col-xs-10">
      <h1>Welcome</h1>
      <p><a href="http://www.fda.gov/downloads/Drugs/Guidances/ucm073122.pdf">ICH E6 GCP</a> requires that "a system of Quality Assurance and Quality Control be implemented and maintained." Auditing is an integral part of this quality management strategy.</p>
      <p>Achieve Quality is a certified women-owned business, specifically focused on providing Quality Assurance services to the clinical research industry.  Since we do not offer any other services, including clinical or any other departments that would be participating on your trial, we can offer totally independent, objective assessments.  We will also customize the audit to meet your particular needs.</p>
      <p>We are comprised of Consultants who are highly experienced in their area of Good Clinical Practices (GCP), Good Laboratory Practices (GLP), electronic systems and Part 11 compliance, as well as strategic consulting.  We work with large and small pharmaceutical, medical device and biotech companies, as well as Medical Universities, vendors and individual Clinical Investigator sites.  All of our Auditors have been trained on Achieve Quality Auditing Standard Operating Procedures (SOPs) and utilize standard Achieve Quality templates for consistency in the audit approach and report.</p>
      <p>Our Consultants travel globally, bringing more expertise in the US Food and Drug Administration (FDA) requirements than any local Auditor could ever provide.  We are also experienced with EMA, MHRA and other local Regulatory/Competent Authorities and their requirements.  We have conducted audits in the European Union (Eastern and Western), the United Kingdom, Russia, China, Japan, Singapore, Hong Kong, the Philippines, India, Australia, South America, Central America, Mexico, Canada and the United States.</p>
      <p>Achieve Quality confirms in-depth knowledge of Regulatory and Industry Standards including:</p>
      <ul>
        <li>US FDA Regulations, 21 CFR Parts 11, 50, 54, 56, 312, 314 (Pharmaceuticals) 812, and 814 (Medical Devices)</li>
        <li>US HIPAA Regulations, 45 CFR Parts 160 and 164</li>
        <li>FDA Compliance Programs 7348.809, 7348.810, and 7348.811</li>
        <li>European Medicines Agency (EMA) Directive</li>
        <li>Medicines and Healthcare products Regulatory Agency (MHRA) requirements</li>
        <li>International Conference of Harmonization (ICH) Guidelines</li>
      </ul>
    </div>
    <div class="col-xs-1"></div>
  </div>
</div>