<div class="container">
  <div class="row">
    <div class="col-xs-1"></div>
    <div class="col-xs-10">
      <h2>Investigator Initiated Trials</h2>
      <p>We offer local and remote Quality Assurance representation for NCI Cancer Centers and Medical Universities with their Investigator-Initiated Clinical Trials, in both Interventional and Behavioural research.  The local representation would allow on-site audits to be done on paper documents and pharmacy accountability, without the travel expenses.  The audit of the electronic source document and case report forms can be conducted remotely, by allowing access to the auditors that have been pre-approved by you.  Exit meetings can be conducted with the clinical team and the Auditor via telephone or in person.</p>
      <p>We have held the exclusive auditing contract for a large NCI Cancer Center in Tampa, Florida since 2011, having conducting up to 40 audits per year.  Our partnership has led to tremendous improvement, not only in data integrity, but in overall systems and processes.</p>
      <p>Allow us to present a proposal to your Medical University or Cancer Center to conduct your internal audits at a fraction of the price of bringing in another independent auditing firm.</p>
    </div>
    <div class="col-xs-1"></div>
  </div>
</div>