<div class="container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <h1>Laboratory Audits</h1>
      <p>When using laboratories, whether pre-clinical (GLP), clinical (GCLP), microbiological or bioanalytical laboratories, you need to be sure that the data is credible and is in compliance with the protocol, facility SOPs and regulatory requirements.  Audits of these laboratories, whether pre-study qualification or end-of-trial analytical method validation, are critical to define an Investigational Product’s safety and efficacy profile.</p>
      <p>The following tasks will be conducted during a Laboratory audit:</p>
      <ul>
        <li>Tour the facility, including Server Rooms</li>
        <li>Review equipment and associated validation, as well as test and control articles</li>
        <li>Review GLP Lab design and validation</li>
        <li>Review Lab SOPs and methods development to ensure procedures and systems used in the conduct of clinical trials are in compliance with applicable guidelines and regulations</li>
        <li>Review Lab processes and documentation to assess compliance with Lab SOPs</li>
        <li>Assess Lab outsourced vendor qualification, management, and certification programs</li>
        <li>Assess Lab staff credentials, training, workload and turnover rate</li>
        <li>Review Lab Quality Management System</li>
        <li>Review computer system procedures and documentation for security, back up, and recovery, including validation records</li>
        <li>Assess any Regulatory Agency inspection history, including records and sanctions, if applicable</li>
        <li>Ensure that the trial sample analysis is being performed according to protocol and applicable regulations, guidelines, and standards</li>
        <li>Review Microbiological and analytical methods validation</li>
        <li>Review records, reports and record/sample retention processes</li>
        <li>Track lab specimens through the laboratory environment to check for compliance to GLP & GCP</li>
      </ul>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>