<div class="container">
  <div class="row">
    <div class="col-xs-1"></div>
    <div class="col-xs-10">
      <h1>Electronic Systems and Part 11</h1>
      <p>You need to ensure that all your electronic systems are secure, recoverable, validated, properly maintained, and that any electronic signatures they produce are genuine.  Achieve Quality can audit your IT infrastructure and services that your company relies on, whether on-site or with a vendor.</p>
      <p>We verify compliance with 21 CFR Part 11 and other FDA regulations and guidelines, ICH Guidances, and Annex 11, as appropriate.</p>
      <p>The following tasks will be conducted during an electronic systems audit:</p>
      <ul>
        <li>Assess 21 CFR Part 11 compliance</li>
        <li>Review System Validation (Development Life Cycle) activities and documentation, including:</li>
        <ul>
          <li>Validation Plans</li>
          <li>Requirements</li>
          <li>Design/Configuration</li>
          <li>Test plans, scripts, protocols, and reports</li>
          <li>Traceability</li>
        </ul>
        <li>Review software and documentation change control</li>
        <li>Assess archiving and data retention processes</li>
        <li>Review User documentation and support</li>
        <li>Review Configuration management</li>
        <li>Assess installation and maintenance of systems and software</li>
        <li>Evaluate physical and electronic security</li>
        <li>Review backup and recovery process and equipment</li>
      </ul>
    </div>
    <div class="col-xs-1"></div>
  </div>
</div>