<div class="container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <h1>Reporting</h1>
      <p>All of our Auditors have been trained on Achieve Quality Auditing Standard Operating Procedures (SOPs) and utilize standard Achieve Quality templates for consistency in the audit approach and report.</p>
      <p>During the audit, the client will be notified by telephone and/or email of any Critical finding within 24 hours following confirmation.  An email Summary of any significant audit findings will be provided within two business days following the audit.</p>
      <p>Every draft audit report is reviewed internally by Achieve Quality management to ensure not only accuracy, but also relevance, sensibility and consistency.  This isn’t just a QC and grammar check, but a Senior Auditor review.  Achieve Quality requires all reports be ready to send to the client within two weeks after the audit is completed.</p>
      <p>The draft report will then be sent to you for review and approval.  Upon receiving your approval, we will then sign and scan the report as a PDF, and send out a signed audit certificate.  We can also evaluate the audit response and CAPA for acceptability and audit closure.</p>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>