/* Color Palette */
/* color: #00014f; /* navy blue */
/* color: #c2cedf; /* light blue */
/* color: #b8b8b8; /* dark gray */
/* color: #dfdfdf; /* light gray */

/* Default styling for all body elements */
body {
  min-height: 2000px;
  padding-top: 90px;
  background-color: #c2cedf; /* light blue */
}

/* Large header styling */
h2 {
  font-family: 'Amaranth', sans-serif;
  color: #00014f; /* navy blue */
  letter-spacing: 1px;
  padding-bottom: 30px;
}

/* Small header styling */
h4 {
  font-style: italic;
  color: #00014f; /* navy blue */
  padding-top: 20px;
}

/* Paragraph styling */
p {
  color: black;
}

/* Size of navbar and company name (desktop screens only) */
@media (min-width: 768px) {
  .navbar-default {
    font-size: 1.25em;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

/* Navbar background color */
.navbar-default {
  background-color: #b8b8b8; /* dark gray */
}

/* Background color of navbar expand button (visible on smaller devices only) */
.navbar .navbar-default .navbar-fixed-top button {
  background-color: #dfdfdf; /* light gray */
}

/* Color of navbar expand button's icon-bars (AKA 'burger') */
.navbar-default .navbar-toggle .icon-bar {
  background-color: black;
}

/* Text/background color of navbar links */
.navbar-default .navbar-nav > li > a {
  color: black;
  background: #b8b8b8; /* dark gray */
}

/* Background color of active navbar link */
.navbar-default .navbar-nav > .active,
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  background: #dfdfdf; /* light gray */
}

/* Background color when hovering over navbar links */
.navbar-default .navbar-nav > li > a:hover {
  background: #dfdfdf; /* light gray */
}

/* Text/background color of navbar dropdown menu links */
.navbar-default .navbar-nav .open .dropdown-menu > li > a,
.navbar-default .navbar-nav .open .dropdown-menu {
  color: black;
  background: white;
}

/* Background color of active navbar dropdown menu link */
.navbar-default .navbar-nav .open .dropdown-menu > .active,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
  background: #dfdfdf; /* light gray */
}

/* Background color when hovering over navbar dropdown menu links */
.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
  background: #dfdfdf; /* light gray */
}

/* Mission statement styling (top of 'About Us' page) */
#mission-stmt {
  font-style: italic;
  font-family: serif;
  font-size: 1.25em;
  padding-bottom: 20px;
}

/* Company name styling (left side of navbar) */
#company-name {
  font-family: 'Amaranth', sans-serif;
  font-size: 2.25em;
  color: #00014f; /* navy blue */
  padding-top: 8px;
}

/* Company logo styling (left side of navbar) */
#company-name > img {
  display: inline;
  height: 35px;
  width: 58.3px;
}

/* Page footer styling (copyright info at bottom center of page) */
#page-footer {
  text-align: center;
  font-family: sans-serif;
  font-size: 0.75em;
  color: black;
}