/* Default styling for all body elements */
body {
  min-height: 700px;
  padding-top: 160px;
  background-color: #d9e5f6; /* light blue */
}

/* Large header styling */
h1 {
  font-family: 'Raleway', sans-serif;
  color: #0987bd;
  letter-spacing: 1px;
  padding-top: 20px;
  padding-bottom: 30px;
}

/* Small header styling */
h3 {
  font-family: 'Raleway', sans-serif;
  color: #0987bd; /* navy blue */
  padding-top: 20px;
}

/* This allows for correct scroll placement after page jumps */
h1 > span, h3 > span {
  margin-top: -180px;
  padding-bottom: 180px;
  display: block;
}

/* Paragraph styling */
p {
  color: black;
}

/* Navbar background color */
.navbar-default {
  background-color: white;
  padding-top: 50px;
  padding-bottom: 50px;
}

/* Background color of navbar expand button (visible on smaller devices only) */
.navbar .navbar-default .navbar-fixed-top button {
  background-color: white;
}

/* Color of navbar expand button's icon-bars (AKA 'burger') */
.navbar-default .navbar-toggle .icon-bar {
  background-color: black;
}

/* Text/background color of navbar links */
.navbar-default .navbar-nav > li > a {
  color: black;
  background-color: white;
  margin: 1px 11px 1px 1px;
}

/* Border styling of active navbar link */
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  border-style: solid;
  border-width: 1px;
  border-radius: 15px;
  border-color: #0987bd; /* light blue */
  background-color: white;
  margin: 0px 10px 0px 0px;
}

/* Border styling when hovering over navbar links */
.navbar-default .navbar-nav > li > a:hover {
  border-style: solid;
  border-width: 1px;
  border-radius: 15px;
  border-color: #0987bd; /* light blue */
  background-color: white;
  margin: 0px 10px 0px 0px;
}

/* Text/background color of navbar dropdown menu links */
.navbar-default .navbar-nav .open .dropdown-menu > li > a,
.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus,
.navbar-default .navbar-nav .open .dropdown-menu,
.navbar-default .dropdown-menu {
  color: black;
  background-color: white;
  padding: 1px 2px 1px 2px;
}

/* Border styling of active navbar dropdown menu link */
.navbar-default .navbar-nav .open .dropdown-menu .active > a,
.navbar-default .navbar-nav .open .dropdown-menu .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu .active > a:focus {
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  border-color: #0987bd; /* light blue */
  background-color: white;
  padding: 0px 1px 0px 1px;
}

/* Border styling when hovering over navbar dropdown menu links */
.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  border-color: #0987bd; /* light blue */
  background-color: white;
  padding: 0px 1px 0px 1px;
}

.img-circular {
  background-size: cover;
  display: block;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
}

/* Tagline styling (middle of navbar) */
#logo-lg {
  font-family: 'Raleway', sans-serif;
  font-size: 1.25em;
  color: #0987bd;
  margin: -30px 300px 0px 0px;
  padding-bottom: 0px;
}

/* Company logo styling (left side of navbar) */
#logo-lg > img {
  display: inline;
  height: 135px;
  margin: -15px 50px 0px 0px;
}

/* Company logo styling (left side of navbar) */
#logo-md > img, #logo-sm > img {
  display: inline;
  height: 115px;
  margin: -50px 50px 0px 0px;
}

#logo-xs > img {
  display: inline;
  height: 100px;
  margin: -50px 50px 0px 0px;
}

#osd > img {
  height: 70px;
}

/* Table of contents styling (top left of GCP services page) */
#toc {
  background-color: #d1ddee; /* blue */
}

/* Page footer styling (copyright info at bottom center of page) */
#footer {
  text-align: center;
  font-family: sans-serif;
  font-size: 0.75em;
  color: black;
}
