// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Color Palette */
/* #00014f; /* navy blue */
/* #c2cedf; /* light blue */
/* #b8b8b8; /* dark gray */
/* #dfdfdf; /* light gray */

/* Default styling for all body elements */
body {
  min-height: 2000px;
  padding-top: 90px;
  background-color: #c2cedf; /* light blue */
}

/* Large content header styling */
h1 {
  font-family: 'Lobster Two', cursive;
  font-weight: bold;
  color: #00014f; /* navy blue */
  letter-spacing: 1px;
  padding-bottom: 40px;
}

/* Small content header styling */
h4 {
  font-style: italic;
  color: #00014f; /* navy blue */
  padding-top: 20px;
}

/* Content text styling */
p {
  color: black;
}

/* Navbar background color */
.navbar-default {
  background-color: #b8b8b8; /* dark gray */
}

.navbar-default .navbar-fixed-top .navbar-header .navbar-brand > img {
  
}

/* Navbar expand button (smaller devices only) */
.navbar .navbar-default .navbar-fixed-top button {
  background-color: #dfdfdf; /* light gray */
}

/* Icon-bar color (inside navbar expand button) */
.navbar-default .navbar-toggle .icon-bar {
  background-color: black;
}

/* Text/background color for navbar links */
.navbar-default .navbar-nav > li > a {
  color: black;
  background: #b8b8b8; /* dark gray */
}

/* Background color for active navbar link */
.navbar-default .navbar-nav > .active,
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  background: #dfdfdf; /* light gray */
}

/* Background color when hovering over navbar links */
.navbar-default .navbar-nav > li > a:hover {
  background: #dfdfdf; /* light gray */
}

/* Text/background color for navbar dropdown menu */
.navbar-default .navbar-nav .open .dropdown-menu > li > a,
.navbar-default .navbar-nav .open .dropdown-menu {
  color: black;
  background: white;
}

/* Background color for active dropdown menu link */
.navbar-default .navbar-nav .open .dropdown-menu > .active,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
  background: #dfdfdf; /* light gray */
}

/* Background color when hovering over dropdown menu links */
.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
  background: #dfdfdf; /* light gray */
}

#mission {
  font-style: italic;
  font-family: serif;
  font-size: 1.25em;
  padding-bottom: 20px;
}

/* Page title styling (company name at top left) */
#page-title {
  font-family: 'Amaranth', sans-serif;
  font-size: 2.25em;
  color: #00014f; /* navy blue */
  padding-top: 8px;
}

#page-title > img {
  display: inline;
  height: 35px;
  width: 58.3px;
}

/* Page footer styling (copyright at bottom center) */
#page-footer {
  text-align: center;
  font-family: sans-serif;
  font-size: 0.75em;
  color: black;
}